# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.idea
.nx/installation
.nx/cache
.nx/workflows
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

node_modules/
.vscode/
